#circlebtn{
    width:60px;
    height:60px;
    border-radius: 30px;
    border-style: none;
    background-color: rgba(255,255,255, 0.36);
    position:absolute;
    right:20px;
    bottom:20px;
    box-shadow: 8px 9px 21px rgb(41, 41, 41,0.65);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    cursor: pointer;
}
#circlebtn:hover{
    background-color: rgba(255,255,255, 0.5);
    width:65px;
    height:65px;
    right:17px;
    bottom:17px;
    border-radius: 32px;
    box-shadow: 15px 17px 26px rgb(41, 41, 41,0.6);
    transition-duration: 230ms;
}
#circlebtn:active{
    transform: translateY(10px);
    background-color: rgba(255,255,255, 0.25);
    transition-duration: 50ms;
}
html,body{
    height: 100%;
    margin: 0px;
    overflow:hidden;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgb(255, 153, 0) 0%, rgb(212, 31, 31) 30%, rgb(255, 174, 0) 53%, rgba(255,154,154,1) 78%, rgba(255,204,95,1) 100%);
    background-attachment: fixed;
}
#soggycat{
    width:auto;
    height:82%;
    box-shadow: 15px 17px 26px rgb(41, 41, 41,0.6);
    border-radius: 1.5%;
}
#sidemenu{
    padding-top: 10px;
    width:0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position:absolute;
    right:0;
    bottom: 100px;
    transition: width 500ms, background-color 200ms, padding 200ms, bottom 200ms;
    box-shadow: 8px 9px 22px rgb(41, 41, 41,0.65);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    background-color: rgba(255,255,255, 0.16);
    display:flex;
    flex-direction: column;
}
#sidemenu:hover{
    background-color: rgba(255,255,255, 0.27);
    box-shadow: 15px 17px 27px rgb(41, 41, 41,0.6);
    padding-top:15px;
    padding-bottom:5px;
    bottom: 95px;
}
.menubuttonsa{
    margin:10px;
    margin-top: 0px;
    margin-right:0px;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    text-decoration: none;
    color:black;
}
.menubuttons{
    font-family: 'Spline Sans Mono', monospace;
    height:90px;
    background-color: white;
    font-size:30px;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    transition-duration: 200ms;
    display:flex;
    align-items:center;
    white-space:nowrap;
}
.menubuttons:hover{
    height:100px;
    font-size: 31px;
}
.menubuttons:hover img{
    height: 60px;
    margin: 11px;
}
.menubuttons img{
    height:50px;
    margin:16px;
    transition-duration: 200ms;
}